body{
    font-family: "Work Sans", sans-serif;
}

.nav-link{
    font-size: 16px;
}

.nav-link:hover{
    color: orange !important;
    transition: 400ms ease-in-out;
}

.hero-icon{
    width: 36px;
    height: 36px;
}

.author-img{
    height: 64px;
    width: 64px;
}

.single-container{
    max-width: 820px;
    padding: 10px;
    margin: 0 auto;
}

@media only screen and (max-width: 920px) {
    .single-container {
        width: 100%;
    }
}